<div>
    <h1>Login</h1>
    <p *ngIf="errorMessage()" class="error">{{ errorMessage() }}</p>
    <form (submit)="login()">
        <label for="email">Email:</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required>
        <br>
        <button type="submit" [disabled]="loading() ">
            @if (loading()) {
            <app-spinner size="sm" />
            Login in...
            } @else {
            Login
            }
        </button>
    </form>
</div>